<h1>{{ file.file_path}}</h1>
<ul>
    Added: {{file.added}} <br>
    Deleted: {{file.deleted}} <br>
    Involved count: {{file.involved}} <br>
    ChangeSet: {{file.total_changeset}} <br>
    Last updated: {{file.last_updated}} <br>
</ul>
Bugs appeared in:
<ul>
{% for bug in file.bugs.all %}
    <li><a href="{% url 'mining_main:bug_detail' bug.id%}">{{ bug.bug_id }}</a></li>
{% endfor %}
</ul>
Authors edited:
<ul>
{% for author in file.author_set.all %}
    <li><a href="{% url 'mining_main:author_detail' author.id%}">{{ author.author_name }}</a></li>
{% endfor %}
</ul>
